@model AngularJs_With_Web_API.Models.EmbedConfig
@Scripts.Render("~/js")
@Styles.Render("~/css")

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://npmcdn.com/es6-promise@3.2.1"></script>
<script src="/scripts/powerbi.js"></script>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<div class="container" style="padding-top:40px;">
    <div class="row">
        @*<div class="col-md-12">
                <h3>Weclome, <br /></h3>
                @if (HttpContext.Current.Session["UserName"] != null)
                {

                    <h3>You are signed with @HttpContext.Current.Session["UserName"]</h3>
                }
                else
                {

                    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                }
            </div>*@

        <div class="col-md-12" id="embedContainer" style="height:650px;"></div>
        @*<a id="btnEmbedReport" href="~/Home/EmbedReport">Embed Report</a>*@
    </div>
</div>

<script>
    // Read embed application token from Model
    var accessToken = "@Model.EmbedToken.Token";

    var CanFilter = "@Model.CanFilter";
    var CanEdit = "@Model.CanEdit";
    var CanNavigate = "@Model.CanNavigate"

    if (CanFilter == "False") {
        CanFilter = false;
    }
    else {
        CanFilter = true;
    }
    CanEdit = CanEdit == "False" ? false : true;
    CanNavigate = CanNavigate == "False" ? false : true;



    // Read embed URL from Model
    var embedUrl = "@Html.Raw(Model.EmbedUrl)";

    // Read report Id from Model
    var embedReportId = "@Model.Id";

    // Get models. models contains enums that can be used.
    var models = window['powerbi-client'].models;

    var viewmode = models.ViewMode.View;
    if (CanEdit) {
        viewmode = models.ViewMode.Edit;
    }

    // Embed configuration used to describe the what and how to embed.
    // This object is used when calling powerbi.embed.
    // This also includes settings and options such as filters.
    // You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
    var config = {
        type: 'report',
        tokenType: models.TokenType.Embed,
        accessToken: accessToken,
        embedUrl: embedUrl,
        id: embedReportId,
        permissions: models.Permissions.All,
        viewMode: viewmode,
        settings: {
            filterPaneEnabled: CanFilter,
            navContentPaneEnabled: CanNavigate,
            layoutType: models.LayoutType.Custom,
            customLayout: {
                displayOption: models.DisplayOption.FitToPage
            }
        }
    };

    // Get a reference to the embedded report HTML element
    var reportContainer = $('#embedContainer')[0];

    // Embed the report and display it within the div container.
    var report = powerbi.embed(reportContainer, config);

</script>



@*<script src="~/Scripts/powerbiapp.js"></script>*@